@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!DOCTYPE html>
<html>
<head>
    <style>

        footer {
            text-align: center;
            padding: 3px;
            background-color: DarkSalmon;
            color: white;
        }
    </style>
</head>
<body>


    <footer>
        <p>
            Author: Marlabs<br>
            <a href="mailto:admin@marlabs.com">admin@marlabs.com</a>
        </p>
    </footer>

</body>
</html>