
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h2>Employee Details</h2>

<h2>Employee Id would be :: @ViewBag.EmpId</h2>
<h2>Employee Name would be :: @ViewBag.EmpName</h2>
<h2>Employee Salary would be :: @ViewBag.EmpSal</h2>
