@model IEnumerable<Marlabs_ViewMode1_Ex3.ViewModel.StudentDetailsViewModel>
@{
    ViewData["Title"] = "GetStudentDetails";
}

<h1>Marlabs</h1>
<h2>Student Data</h2>
<body>
    <table>
        <thead>
            <th>Student Id</th>
            <th>Student Name</th>
            <th>Student Address1</th>
            <th>Student Address2</th>
            <th>Student Email</th>
            <th>Student Phone</th>
        </thead>
    </table>
</body>
